version: '3.9'
services:

  app:
    build: .
    env_file: .env
    ports:
      - "8090:8081"
    depends_on:
      db:
        condition: service_healthy
    command: [ "sh", "-c", "/bird-box-go/bin/migrate up && /bird-box-go/bin/api" ]

  db:
    image: postgres:alpine
    environment:
      - ./cmd/api/.env
      - POSTGRES_DB=bird-box-go-db
      - POSTGRES_USER=birds
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
      
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U birds -d bird-box-go-db" ]
      interval: 3s
      timeout: 5s
      retries: 5
    restart: always